
.ici-input {
  margin: 3px 0;
  position: relative;
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
  height: 24px;
  transition: all .3s;

  .prefix {
    vertical-align: middle;
    flex: none;
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin-right: 5px;

    &:empty {
      padding-right: 0px;
    }
  }

  .input-inner {
    position: relative;
    flex: auto;
  }

  &.medium {
    height: 36px;
  }

  &.small {
    height: 32px;
  }

  &.mini {
    height: 28px;
  }

  input {
    display: block;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: transparent;
    margin: 0 !important;
    outline: none;
    box-shadow: none !important;
    border-radius: 0 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-width: 1px !important;
    border-bottom:1px solid @bdc-base;

    color: fade(@tc-base, 90%);
    height: 100%;

    &::placeholder {
      color: fade(@tc-base, 50%);
    }

  }

  .ici-input-status {
    position: absolute;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    width: 100%;
    height: 2px;
    background: @color-primary;
    bottom: 0px;
    left: 0;
    transform: translate3d(0, 0, 0) scale(0, 1);

    &.input-status-foucs {
      opacity: 1;
      transform: translate3d(0, 0, 0) scale(1, 1);
    }
  }
}

.ici-input-hint-li {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid @bdc-base;

  &.active {
    .deputyColor(@bgc-base, 10%, ~"background-color");
  }

  &.ici-input-hint-li-add {
    display: block;
    padding: 10px 10px;
    text-align: center;

    &:hover {
      .deputyColor(@bgc-base, 10%, ~"background-color");
    }
  }

  &:last-child {
    border-width: 0px;
  }

  .ici-input-hint-icon {
    width: 35px;
    height: 35px;
    flex: none;
    .deputyColor(@bgc-base, 10%, ~"background-color");
    background: no-repeat center;
    background-size: contain;
  }
}
