
.ici-input {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 48px;
    padding-top: 3px;

    label.ici-input-label {
        text-align: left;
        transform-origin: bottom left;
        transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color, bottom, transform;
        font: 400 16px Roboto, RobotoDraft, Helvetica, Arial, sans-serif, "Microsoft YaHei", "微软雅黑";
        pointer-events: none;
        position: absolute;
        bottom: 6px;
        margin-bottom: 0;
        left: 0;
        width: 100%;

        &.substantial {
            transform: scale(.75) translateY(-30px);
        }

        &.input-label-foucs {
            color: @color-primary;
            transform: scale(.75) translateY(-30px);
        }
    }

    .prefix {
        flex: none;
        padding-right: 5px;

        &:empty {
            padding-right: 0px;
        }

        font-size: 14px !important;

        * {
            vertical-align: middle;
        }
    }

    .input-inner {

        position: relative;
        flex: auto;
    }


    input {
        display: block;
        width: 100%;
        font-size: 16px;
        line-height: 30px;
        flex-grow: 1;
        flex-shrink: 1;
        background-color: transparent;
        margin: 0 !important;
        outline: none;
        padding: 0 !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-width: 1px !important;
        border-bottom-style: solid !important;
        color:fade(@tc-base,80%);
        &.default-border-color {
            border-bottom-color: rgba(0, 0, 0, 0.2) !important
        }
    }

    .ici-input-status {
        position: absolute;
        transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
        width: 100%;
        height: 2px;
        background: @color-primary;
        bottom: 0;
        left: 0;
        transform: translate3d(0, 0, 0) scale(0, 1);

        &.input-status-foucs {
            opacity: 1;
            transform: translate3d(0, 0, 0) scale(1, 1);
        }
    }
}

.ici-input-hint-li {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid @bdc-base;

    &.active {
        background: #eee;
    }

    &.ici-input-hint-li-add {
        display: block;
        padding: 10px 10px;
        text-align: center;

        &:hover {
            .deputyColor(@bgc-base, 10%, ~"background-color");
        }
    }

    &:last-child {
        border-width: 0px;
    }

    .ici-input-hint-icon {
        width: 35px;
        height: 35px;
        flex: none;
        .deputyColor(@bgc-base, 10%, ~"background-color");
        background: no-repeat center;
        background-size: contain;
    }
}
