//底副色
.deputyColor (@color,@prm,@attribute,@percent:70%) when (lightness(@color) >= @percent) {
        @{attribute}: darken(@color, @prm);
}

.deputyColor (@color,@prm,@attribute,@percent:70%) when (lightness(@color) < @percent) {
        @{attribute}: lighten(@color, @prm);
}

.ici-search-wrap {
    position: relative;
}

.ici-search {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background: var(--background-urlbar,rgba(205, 205, 205, .5));
    height: 30px;
    border-radius: 30px;

    .ici-font, .ici-delete {
        padding: 0 10px;
        flex: none;
    }

    .ici-delete {
        visibility: hidden;

        &.show {
            cursor: pointer;
            visibility: visible;
            color: #aaa !important;

            &:hover {
                color: #888 !important;
            }

            &:active {
                color: #666 !important;
            }
        }
    }

    input {
        flex: auto;
        background: transparent;
        display: block;
        width: 100%;
        height: 30px;
        color: var(--text-regular,@tc-base);
        border: none;
        font-size: 14px;
        outline: none;

        &::placeholder {
            color: var(--text-placeholder,rgba(0, 0, 0, .3)) !important;
        }
    }
}

.fms-input-hint-li {
    cursor: pointer;
    display: flex;
    align-items: center;
    &.active, &:hover {
        .deputyColor(@bgc-base,10%,~"background-color");
    }
    .fms-input-hint-icon {
        width: 35px;
        height: 35px;
        flex: none;
        background: @bdc-base no-repeat center;
        background-size: contain;
    }
}

.ici-hint-addclass {
    border-radius: 5px !important;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
